# Large model files (too big for GitHub)
checkpoints/
model/
static/uploads/
*.keras
*.h5
*.pb

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebooks
*.ipynb
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db